name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      NODE_VERSION: '22'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Inject shared Next.js envs
        run: |
          echo "NEXT_PUBLIC_SERVICE_ID=${{ secrets.SERVICE_ID }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_TEMPLATE_ID=${{ secrets.TEMPLATE_ID }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_PUBLIC_KEY=${{ secrets.PUBLIC_KEY }}" >> $GITHUB_ENV

      - name: Build Page
        run: npm run build

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        run: |
          BUCKET="${{ secrets.AWS_BUCKET }}"
          aws s3 sync ./out "s3://$BUCKET" --delete

      - name: Invalidate CloudFront Cache
        run: |
          DIST="${{ secrets.CLOUDFRONT_DISTRIBUTION }}"
          aws cloudfront create-invalidation --distribution-id "$DIST" --paths "/*"